[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-feedback = "*"
langchain = "==0.1.17"
langchain-community = "==0.0.38"
langchain-openai = "*"
langsmith = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
